DJANGO_SETTINGS_MODULE=config.settings.dev
SECRET_KEY=django-insecure-local-dev-change-me
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000
DATABASE_URL=postgres://factflow:factflow@localhost:5432/factflow
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=admin12345

# Production / Render
# DJANGO_SETTINGS_MODULE=config.settings.prod
# SECRET_KEY=replace-with-a-secure-secret
# DEBUG=False
# ALLOWED_HOSTS=your-render-service.onrender.com
# CSRF_TRUSTED_ORIGINS=https://your-render-service.onrender.com
# DATABASE_URL=postgresql://postgres:[password]@aws-0-[region].pooler.supabase.com:5432/postgres?sslmode=require
# SECURE_SSL_REDIRECT=True
# SECURE_HSTS_SECONDS=31536000
# SECURE_HSTS_INCLUDE_SUBDOMAINS=True
# SECURE_HSTS_PRELOAD=True
